html, body {
  height: 100%;
}

body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  min-width: 920px;
}

header#main {
  background-color: #333;  
  color: #EEE;
  height: 60px;
  padding-left: 20px;
  padding-top: 5px;
}

header#main .project_name {
  display: inline-block;
  font-size: 25px;
  border-right: 1px solid white;
  padding-right: 30px;
}

header#main .iteration_info {
  display: inline-block;
  font-size: 20px;
}

header#main .iteration_info .hint {
  display: block;
  font-size: 13px;
}

header#main #logo {
  position: absolute;
  right: 20px;
  top: 20px;
}

#headers .wrapper {
  width: 25%;
  text-align: center;
  position: relative;
  float: left;
}

#headers h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

#headers .top_tool {
  right: 10%;
  left: 10%;
  height: 35px;
  z-index: 100;
  padding: 5px;
  bottom: -46px;
  position: absolute;
  background-color: #777;
  color: #000;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 0 20px;
  font-size: 13px;
  background-color: #DDD;
  color: #333;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #FFF;
}

.nav_button {
  line-height: 35px;
  color: #DDD;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.nav_button.up {
  background-image: url('/stylesheets/images/arrow-up.png');
}

.nav_button.down {
  background-image: url('/stylesheets/images/arrow-down.png');
}

.nav_button:hover {
  color: #EEE;
}

#headers th {
  background-color: #666;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  border: 1px solid black;
}

#table_container {
  overflow: auto;
  width: 100%;
}

#main_table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#main_table tbody {
  position: relative;
}

#main_table .stage:first-child {
  padding-top: 63px; /* the height of a story card */
  padding-bottom: 63px; /* the height of a story card */
}

#main_table .stage:last-child {
  padding-top: 63px; /* the height of a story card */
  padding-bottom: 63px; /* the height of a story card */
}

#main_table td{
  border-right: 1px solid black;
  background-color: #ddd;
  vertical-align: top;
  width: 25%;
}

tr.states td:first-child {
  border: 0;
}

tr.states td:last-child {
  border: 0;
}

#control_panel {
  width: 900px;
  margin-left: -450px;
  margin-right: auto;
  left: 50%;
  bottom: 0;
  position: fixed;
  background-color: #000;
  border: 3px solid #999;
  border-bottom: 0;
}

#control_panel nav a {
  height: 60px;
  display: block;
  float: left;
  background-color: #000;
  color: #FFF;
  width: 33.33%;
  text-align: center;
  line-height: 60px;
}

#control_panel nav a:hover {
  background-color: #333;
}

#control_panel nav a:first-child {
  border-right: 1px solid #999;
}

#control_panel nav a:last-child {
  border-left: 1px solid #999;
}

.hidden {
  display: none !important;
}

.story {
  position: relative;
  width: 100%;
  margin-bottom: 10px; }

.story .description {
  font: 20px helvetica sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #447;
  background-color: #EEE;
  border: 1px solid #CCC; }

.story .description {
  position: relative;
  resize: none;
  padding: 10px;
  padding-top: 11px;
  min-height: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto; }

.story .content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  border 1px solid transparent;
}

.story .controls {
  display: block;
  position: absolute;
  text-align: center;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

.story:hover .controls {
  display: block; }

.story .controls a {
  display: block;
  width: 32px;
  text-decoration: none; 
  font-weight: bold; }

.story .left_controls {
  position: absolute;
  height: 100%;
  left: -32px;
  padding-right: 10px; }

.story .right_controls {
  position: absolute;
  height: 100%;
  right: 0px; }


.story .delete {
  position: absolute;
  top: 0;
  color: red; }

.story .move {
  position: absolute;
  bottom: 0;
  color: green;
}

.story .archive {
  background: url('/stylesheets/images/filing_cabinet.png');
  text-indent: -99999px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  background-position: 0 3px;
}


.story .edit {
  position: absolute;
  right: 3px;
  top: 3px;
  color: black;
  font-size: 11px;
  z-index: 3;
}

.story-placeholder {
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #CCC;
}

#story_creator form {
  height: 30px;
  vertical-align: middle;
}

#story_creator textarea {
  width: 91%;
  min-width: 91%;
  max-width: 91%;
  height: 100%;
  min-height: 150%;
  margin-bottom: 0;
}
.overlaying_page {
  position: absolute;
  top: 65px;
  z-index: 101;
  background-color: #FFF;
  width: 100%;
  height: 100%;
}
